<!--
Quelle des Ursprungscodes für Caesar Cipher
Build a Caesar's Cipher
by kirupa (https://www.kirupa.com/html5/caesar_cipher.htm#)
-->
<!--
Quelle des Ursprungscodes für Range mit Label
Price Range
by onyx1812 (https://codepen.io/onyx1812/pen/GRJxmva)
-->

<h1>Caesar Verfahren</h1>
<hr>

<div class="row">
    <div class="col s6">
        <h3>Verschlüsseln</h3>
        <a class="btn-large btn-success mb-3" th:href="@{/?activePage=caesarencryption}">Los!</a>
    </div>
    <div class="col s6">
        <h3>Entschlüsseln</h3>
        <a class="btn-large btn-success mb-3" th:href="@{/?activePage=caesardecryption}">Los!</a>
    </div>
</div>