<!--Überschrift-->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Probieren Sie verschiedene Verfahren selbst aus!</h1>
</div>

<div class="row">
    <div class="col s6">
        <h3 id="diffie_hellman_tausch_interaktiv">Diffie-Hellman-Tausch</h3>
        <a class="btn-large btn-success mb-3" th:href="@{/?activePage=diffiehellman_choose_p_and_g}">Schlüsseltausch starten</a>
    </div>
    <div class="col s6">
        <h3 id="rsa_verfahren_interaktiv">RSA-Verfahren</h3>
        <a class="btn-large btn-success mb-3" th:href="@{/?activePage=rsaverfahren}">Verfahren starten</a>
    </div>
</div>

