<h1>RSA Verfahren</h1>

<p>Bitte geben Sie die RSA-Parameter ein:</p>

<label for="p">p (Primzahl): </label>
<input type="number" id="p" required>

<label for="q">q (Primzahl): </label>
<input type="number" id="q" required>

<label for="e">e (öffentlicher Exponent): </label>
<input type="number" id="e" required>

<a class="btn btn-success mb-3" onclick="generateKeys()">Schlüssel generieren</a>

<p id="nValue">n: </p>
<p id="dValue">d: </p>

<script>
    // Funktion, um die RSA-Schlüssel zu generieren
    let n, e, d, p, q;
    let prime = new Boolean(true);
    function generateKeys() {
        prime = true
        p = Number(document.getElementById("p").value);
        q = Number(document.getElementById("q").value);
        e = Number(document.getElementById("e").value);

        // Diese Funktion stellt sicher, dass es sich bei p und q um Primzahlen handelt (bereits bei Diffie-Hellman verwendet)
        if(p > 1 && q > 1){
            for(let i = 2; i <= p/2; i++){
                if((p%i) == 0){
                    prime = false;
                }
            }
            for(let i = 2; i <= q/2; i++){
                if((q%i) == 0){
                    prime = false;
                }
            }
        } else {
            prime = false;
        }
        if(prime == true){
            // Erstellung von n
            n = p * q;

            // Eulersche Phi-Funktion
            const phi = (p - 1) * (q - 1);
            
            // Funktion ersetzt Durchführung des erweiterten Euklidischen Algorithmus
            d = findMultiplicativeInverse(e, phi);
            
            document.getElementById("nValue").textContent = "n: " + n;
            document.getElementById("dValue").textContent = "d: " + d;
        } else {
            // Wenn p und q keine Primzahlen waren, werden Fehler ausgegeben
            document.getElementById("nValue").textContent = "Fehler, eine oder mehrere Zahlen entsprechen nicht den Bedingungen";
            document.getElementById("dValue").textContent = "Fehler, eine oder mehrere Zahlen entsprechen nicht den Bedingungen";
        }
    }

    // Funktion zum Berechnen des multiplikativen Inversen von 'a' modulo 'm'
    function findMultiplicativeInverse(a, m) {
        for (let x = 1; x < m; x++) {
            if ((a * x) % m === 1) {
                return x;
            }
        }
        return 1;
    }
</script>
