<!--Überschrift-->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Sicherheit und verschiedene Verfahren</h1>
</div>

<h3>Inhalte:</h3>
<!--Links zu Abschnitten der Seite, Referenzen zu Abschnittsüberschriften-->
<div class="collection">
    <a href="#cia_triad" class="collection-item">CIA-Triad</a>
    <a href="#int_auth_und_ver" class="collection-item">Integrität, Authentizität und Vertraulichkeit</a>
    <a href="#caesar" class="collection-item">Caesar-Verfahren</a>
    <a href="#vigenere" class="collection-item">Vigenere-Verfahren</a>
    <a href="#skytale" class="collection-item">Skytale-Verfahren</a>
    <a href="#arten_der_verschluesselung" class="collection-item">Arten der Verschlüsselung</a>
    <a href="#rsa_verfahren" class="collection-item">RSA-Verfahren</a>
    <a href="#diffie_hellman_tausch" class="collection-item">Diffie-Hellman-Tausch</a>
    
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="cia_triad" class="anchor"></div>
    <a>CIA-Triad</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Obwohl es der Name zuerst vermuten lässt, hat dies nichts mit dem US-amerikanischen Auslandsnachrichtendienst zu tun. Viel mehr beschreibt es drei wichtige IT-Schutzteile: Confidentiality (Vertraulichkeit), Integrity (Integrität) und Availability (Verfügbarkeit). Diese werden in der in der Informationssicherheit auch Pfeiler der Datensicherheit genannt. 
            Doch was bedeuten die einzelnen Begriffe? 
            Vertraulichkeit symbolisiert, dass die Daten nur von autorisierten Nutzern eingesehen werden können. Dies betrifft alle Zustände, also sowohl während ihrer Speicherung als auch während einer möglichen Datenübertragung. 
            Integrität legt fest, dass sowohl die Daten als auch die Funktionsweise des verarbeitenden Systems korrekt und vollständig sind und stellt somit auch gleichermaßen sicher, dass keine Änderungen an den Daten vorgenommen wurden.
            Verfügbarkeit, bedeutet, dass sowohl die informationstechnischen Systeme als auch die darin hinterlegten Daten möglichst jederzeit verfügbar sind. 
            Diese Prinzipien bieten lediglich die Richtlinien, nach denen die Sicherheit eines Systems oder eines Vorgangs bewertet werden können, sie werden aber nie vollständig und gleichermaßen erreicht werden können.
            Im nächsten Abschnitt gehen wir noch ein bisschen auf Integrität, Vertraulichkeit und zusätzlich Authentizität ein.
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/CIA_TRIAD.jpg}" alt="clientserver not found"/>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="int_auth_und_ver" class="anchor"></div>
    <a>Integrität, Authentizität und Vertraulichkeit</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Wie bereits im vorherigen Abschnitt erklärt gibt es einige Begriffe, welche die Sicherheit eines Systems oder Vorgangs beschreiben können, insbesondere in Hinblick auf Datenübertragung und Speicherung. zu den wichtigsten Begriffen zählen dabei Integrität, Authentizität und Vertraulichkeit. 
            Wenden wir uns zunächst einmal der Vertraulichkeit zu. Wie bereits im vorherigen Abschnitt zum CIA-Triad angedeutet, beschreibt dieser Begriff, dass die Daten nur von autorisierten Nutzern eingesehen werden können. Dies betrifft alle Zustände, also sowohl während ihrer Speicherung als auch während einer möglichen Datenübertragung. Der Zugang zu dieser gesicherten Information kann dabei durch verschiedene Faktoren geschützt werden. Dabei kann der Zugang etwa Wissen erfordern, welches nur der Empfänger besitzt. Es kann sich auch um einen physischen Schlüssel in beliebiger Form handeln, also in klassischer Form, ein Security Token oder Ähnliches.
            Integrität legt fest, dass sowohl die Daten als auch die Funktionsweise des verarbeitenden Systems korrekt und vollständig sind und stellt somit auch gleichermaßen sicher, dass keine Änderungen an den Daten vorgenommen wurden. Gleichzeitig gibt es aber auch die Unterteilung in Schwache und Starke Integrität. Während eine starke Integrität keine Möglichkeit für eine Manipulation bietet, ist bei der schwachen Integrität zwar ein gewisser Schutz für die Daten vorhanden, der hauptsächliche Schutz besteht aber darin, dass dem Nutzer mitgeteilt wird, ob eine Manipulation stattgefunden hat, etwa durch eine Prüfsumme oder einen MAC (message authentification code).
            Als letztes muss dann noch die Authetizität bei der Kommunikation mit einer anderen Person. Dies beschreibt, dass in irgendeiner Form festgelegt werden kann, dass es sich um die gewünschte Person handelt und keine andere Person sich als jemand anders ausgeben kann. Dies kann auf mehrfachen Wegen geschehen, wobei die Kommunikation etwa im Internet durch sogenannte Zertifikate und Signaturen verfiziert werden kann, welche von einem zentralen Aussteller vergeben werden. Auf digitale Signaturen gehen wir noch unter komplexere Verfahren näher ein.
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/IVV.jpg}" alt="clientserver not found"/>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="caesar" class="anchor"></div>
    <a>Caesar-Verfahren</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Eines der ältesten und bekanntesten Verschlüsselungsverfahren ist die Caesar-Verschlüsselung.Bei diesem monoalphabetischen Verfahren (monoalphabetisch: ein Alphabet) schiebt man jeden Buchstaben der Nachricht um eine bestimmte Zahl im Alphabet weiter. Diese Zahl ist der geheime Schlüssel. Beispiel: Schlüssel = 3 also wird im Alphabet nach drei verschoben B = E. Sobald der Buchstabe aus dem gewählten Alphabet austritt, wird es zurück an den Anfang gesetzt, ein Z würde mit dem gleichen Schlüssel also ein C ergeben.
            Das Verfahren selbst hat lange Zeit gut funktioniert, ist heutzutage selbst manuell durch Buchstabenanalyse leicht zu knacken. 
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/Ceaser.jpg}" alt="clientserver not found"/>
    </div>
    <div class="row">
        <div class="col s4">
            <h6>Probieren Sie es selbst aus!</h6>
        </div>
        <div class="col s8">
            <a class="btn btn-success mb-3" th:href="@{/?activePage=interaktive_elemente#caesar}">Verschlüsseln und Entschlüsseln mit der Caesar-Chiffre</a>
        </div>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="vigenere" class="anchor"></div>
    <a>Vigenere-Verfahren</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Ein etwas älteres Verfahren, welches mit mehreren Alphabeten arbeitet (polyalphabetisch), ist das Vigenere-Verfahren. Hierzu benötigt man das Vigenere-Quadrat und statt einem numerischen Schlüssel ein Wort. Das Schlüsselwort wird dabei so oft wiederholt, bis alle Buchstaben im Klartext abgedeckt sind. Um einen Buchstaben zu verschlüsseln, wird zuerst der Klartextbuchstabe in der oberen Reihe gesucht. Anschließend geht man bis in die Spalte des dazugehörigen Schlüsselbuchstaben, wodurch man einen neuen Buchstaben erhält, den Geheimbuchstaben. Dies wiederholt man für alle Buchstaben im Klartext. Der daraus resultierende Geheimtext kann nun wieder entschlüsselt werden, in dem man das Verfahren rückwärts durchgeht, man wählt sich also etwa die Reihe des ersten Buchstaben im Schlüsselwort und geht in dessen Spalte weiter, bis man auf den Buchstaben im Geheimwort trifft.
            Dieses Verfahre ist anders als bei der Caesar-Chiffre nicht durch die Buchstabenanalyse knackbar, kann allerdings bei zu kurzen Schlüsselworten durch den Kasiski-Test gelöst werden, bei dem sich wiederholende Passagen im Geheimtext und deren Abstände genutzt werden können, um die Länge des Schlüsselworts herauszufinden.
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{img/Vigenere.jpg}" alt="clientserver not found"/>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="skytale" class="anchor"></div>
    <a>Skytale-Verfahren</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Das Verschlüsselungsverfahren der Skytale gilt als ältestes bekanntes Verfahren und wurde bereits 2500 Jahren von den Spartanern genutzt. Es funktioniert so, dass man einen langen Papierstreifen von links nach rechts und von oben nach unten auf einen zylinderförmigen Gegenstand - die Skytale - aufwickelt und die Nachricht dann anhand der Buchstaben nebeneinander zeilenweise lesen kann. Die Buchstaben selbst bleiben in diesem Fall also gleich, lediglich ihre Position wird verändert. Den Schlüssel bildet in diesem Fall der genaue Durchmesser der Skytale, also des Stabes, auf dem die Botschaft aufgerollt wird.
        </p>
        </div>
        <div class="col s6">
            <img class="img-fluid" th:src="@{img/Skytale.jpg}" alt="clientserver not found"/>
        </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="arten_der_verschluesselung" class="anchor"></div>
    <a>Arten der Verschlüsselung</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Es gibt insgesamt 3 Arten von Verschlüsselungsverfahren: 
            Zum ersten sind dies die symmetrischen Verschlüsselungsverfahren, ein Beispiel hierfür ist etwa das Caeser Verfahren. Dies ist sehr leicht zu verschlüsseln aber auch leicht zu knacken. Innerhalb der symmetrischen Verfahren wird außerdem noch zwischen Substitution und Transposition unterschieden, wobei bei der Nutzung von Substitution die Buchstaben vollständig ersetzt werden, wie etwa im Caesar- oder Vigenere-Verfahren, während bei der Nutzung von Transposition lediglich die Position der Buchstaben innerhalb des Textes vertauscht werden, wie etwa beim Skytale-Verfahren.
            Die zweite Art sind die asymmetrischen Verschlüsselungsverfahren, ein Beispiel hierfür ist das RSA-Verfahren, worauf wir später noch näher eingehen. Im Gegensatz zu den symmetrischen Verschlüsselungsverfahren sind bei einem asymmetrischen Verschlüsselungsverfahren nicht einer, sondern zwei Schlüssel vorhanden, wobei der eine zum Verschlüsseln der Nachricht und der andere zum Entschlüsseln verwendet wird. Der erste ist dabei als öffentlicher Schlüssel für jeden zugänglich, während der zweite, private Schlüssel nur bei seinem Besitzer bleibt.
            Die letzten Verschlüsselungsverfahren verwenden eine Kombination aus beiden vorherigen und werden daher als hybride Verfahren bezeichnet. Sie nutzen die Vorteile von beiden Verfahren, was sie sowohl schnell als auch sicher macht und somit zu einer exzellente Möglichkeit für Verschlüsselungen macht. 
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/Verschluesselung.jpg}" alt="clientserver not found"/>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="rsa_verfahren" class="anchor"></div>
    <a>RSA-Verfahren</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Wie bereits im vorherigen Artikel erwähnt, handelt es sich beim RSA-Verfahren um ein asymmetrisches Verfahren, bei dem jeder Kommunikationspartner zwei Schlüssel, privat und öffentlich, besitzt. Während der öffentliche Schlüssel von jedem gefunden und genutzt werden kann, ist der private Schlüssel nur dem Besitzer bekannt. Die Schlüsselerzeugung läuft dabei folgendermaßen ab:
            1. Zuerst werden zwei zufällige Primzahlen, p und q, gewählt.
            2. Anschließend berechnet der Empfänger das RSA-Modul n = p * q.
            3. Die Eulersche Phi-Funktion (p - 1) * (q - 1), später auch als m bezeichnet, wird berechnet.
            4. Anschließend wählt der Empfänger eine öffentliche Exponente e. Dies ist eine Zahl, die kleiner als n ist und keine gemeinsamen Primfaktoren mit m besitzt. Die Kombination (n, e) wird als öffentlicher Schlüssel bezeichnet und wird für die Verschlüsselung von Nachrichten verwendet. 
            5. Schließlich berechnet der Empfänger den privaten Exponenten d. Dieser Exponent wird verwendet, um Nachrichten zu entschlüsseln. d ist so gewählt, dass (d * e) mod (m) 1 ergibt und kann durch den euklidischen Algorithmus berechnet werden. 
            Die tatsächliche Verschlüsselung wird anschließend durchgeführt, in dem mit dem öffentlichen Schlüssel (n, e) und der Nachricht M das Ergebnis c aus M^e mod n berechnet wird. 
            Die Entschlüsselung auf Seite des Empfängers nutzt anschließend den privaten Schlüssel (n, d) und die verschlüsselte Nachricht c, wobei C^d mod n berechnet wird, um die ursprüngliche Nachricht M herauszufinden. 
            Um die tatsächliche Sicherheit der Verschlüsselung zu gewährleisten, müssen p und q groß genug sein, da sie ansonsten mit geringer Rechenleistung herausgefunden werden können, aber auch, dass p,q und m direkt vernichtet werden, sobald sie nicht mehr benötigt werden, und somit nicht gefunden werden können.
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/RSA-Verfahren.jpg}" alt="clientserver not found"/>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <h6>Probieren Sie es selbst aus!</h6>
    </div>
    <div class="col s8">
        <a class="btn btn-success mb-3" th:href="@{/?activePage=interaktive_elemente#rsa_verfahren_interaktiv}">RSA Verfahren Interaktiv</a>
    </div>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--Anchor Tag, id als referenz-->
    <div id="diffie_hellman_tausch" class="anchor"></div>
    <a>Diffie-Hellman-Tausch</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Beim Diffie-Hellman-Schlüsselaustausch handelt es sich um einen Prozess, bei dem zwischen zwei Kommunikationspartnern über ein potenziell unsicheres Übertragungsmedium sicher ein öffentlicher Sitzungsschlüssel vereinbart werden kann. Dieses Verfahren wird für zahlreiche Verschlüsselungsprotokolle im Internet verwendet. 
            Bei diesem Verfahren findet strenggenommen kein Schlüsselaustausch statt, denn dieser wird selbst nicht übertragen. Die Kommunikationspartner einigen sich vorher auf einen gemeinsamen Schlüssel, indem sie einige Zahlen übertragen, von denen aber nur mit viel Rechenleistung auf die Ursprungszahlen geschlossen werden kann.
            Der Diffie-Hellman-Schlüsselaustausch basiert auf einem komplexen mathematischen Verfahren, welches stark vereinfacht wie folgt abläuft: 
            1. Die beiden Kommunikationspartner einigen sich auf eine große öffentliche Primzahl p und eine kleinere Zahl g.
            2. Gleichzeitig wählen beide jeweils eine zufällige Zahl x und y. Es handelt sich um persönliche Schlüssel, die dem anderen Kommunikationspartner nicht bekannt sind und zu keinem Zeitpunkt ausgetauscht werden.
            3. Aus ihrer zufälligen Zahl und den beiden öffentlichen Zahlen berechnen beide eine neue Zahl, A und B, welche anschließend ausgetauscht werden. Die Formel für diese Zahlen lautet jeweils  A = g^x mod p und = g^y mod p
            4. Aus den nun öffentlichen Zahlen A und B können sie den gemeinsame Schlüssel k jeweils mit ihren zufälligen Zahlen x und y berechnen. Dafür wird jeweils B^x mod p  bzw. A^y mod p, wobei durch die spezielle mathematische Erzeugung der Zahlen bei beiden Formeln das gleiche Ergebnis erreicht wird.
        </p>
    </div>
    <div class="col s6">
        <img class="img-fluid" th:src="@{img/hacker.jpg}" alt="clientserver not found"/>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <h6>Probieren Sie es selbst aus!</h6>
    </div>
    <div class="col s8">
        <a class="btn btn-success mb-3" th:href="@{/?activePage=interaktive_elemente#diffie_hellman_tausch_interaktiv}">Diffie-Hellman-Tausch Interaktiv</a>
    </div>
</div>

<hr></hr>

<div class="row">
    <!--Grid-Zuweisungen (col) sind in diesem Bereich rein designorientiert-->
    <div class="col s1">
        <a class="btn-floating btn-large waves-effect" th:href="@{/?activePage=technische_grundlagen}">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
    <div class="col s2">
        <h5> Zurück zu Technische Grundlagen</h5>
    </div>

    <div class="col s2">
        
    </div>
    
    <div class="col s3">
        <h5>Weiter zu Komplexen Verfahren:</h5>
    </div>
    <div class="col s4">
        <a class="btn-floating btn-large waves-effect" th:href="@{/?activePage=komplexe_verfahren}">
            <i class="material-icons">arrow_forward</i>
        </a>
    </div>
</div>