<!--Überschrift-->
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Technische Grundlagen</h1>
</div>

<h3>Inhalte:</h3>
<!--Links zu Abschnitten der Seite, Referenzen zu Abschnittsüberschriften-->
<div class="collection">
    <a href="#clientserverprinzip" class="collection-item">Client-Server-Prinzip</a>
    <a href="#ip-adresse-in-zwei-versionen" class="collection-item">IP-Adresse in zwei Versionen</a>
    <a href="#protokoll" class="collection-item">Protokoll</a>
    <a href="#router" class="collection-item">Router</a>
    <a href="#switch-hub" class="collection-item">Switch/Hub</a>
    <a href="#lan-und-wlan" class="collection-item">LAN und WLAN</a>
    <a href="#dhcp" class="collection-item">DHCP</a>
    <a href="#gateway" class="collection-item">Gateway</a>
    <a href="#ports" class="collection-item">Port</a>
    <a href="#dns-und-domain" class="collection-item">DNS und Domain</a>
    <a href="#routing-und-routingtabellen" class="collection-item">Routing und Routingtabellen</a>
    <a href="#iso-osi-modell" class="collection-item">ISO/OSI-Modell</a>
    <a href="#netztopologien" class="collection-item">Netztopologien</a>
</div>

<!--Content, durch Überschriften eingeteilt-->
<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="clientserverprinzip">Client-Server-Prinzip</a>
</h4>
<div class="row">
    <div class="col s6">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="ip-adresse-in-zwei-versionen">IP-Adresse in zwei Versionen</a>    
</h4>
<div class="row">
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="protokoll">Protokoll</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="router">Router</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="switch-hub">Switch/Hub</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="lan-und-wlan">LAN und WLAN</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="dhcp">DHCP</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="gateway">Gateway</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="port">Port</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="dns-und-domain">DNS und Domain</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="routing-und-routingtabellen">Routing und Routingtabellen</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
    <a id="iso-osi-modell">ISO/OSI-Modell</a>    
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<h4>
    <!--id wird als Referenz für die Links genutzt-->
   <a id="netztopologien">Netztopologien</a>   
</h4>
<div class="row">
    <div class="col s6">
        <p>
            <!--Hier kommt der Text rein, lorem ipsum ist nur Fülltext-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta pariatur eligendi, iusto magnam inventore minus autem sunt nostrum illo cumque tempore ullam, consequuntur consequatur a vel officia dolores sit.
            
        </p>
    </div>
    <div class="col s6">
        <img th:src="@{classpath:static/clientserver.png}" alt="Not Found"><img/>
    </div>
</div>

<hr></hr>

<div class="row">
    <div class="col s6">
        <h4>Zum nächsten Inhalt:</h4>
    </div>
    <div class="col s6 l2">
        <a class="btn-floating btn-large waves-effect" th:href="@{/?activePage=sicherheit}">
            <i class="material-icons">arrow_forward</i>
        </a>
    </div>
</div>